# Generated through Ansible
# afick config sample file
# $Id: afick.conf 987 2006-12-21 15:31:16Z gerbier $
# see afick.conf documentation for more informations

####################
# directives section
####################
# binary values can be : yes/1/true or no/0/false
# database : name with full path to database file
database := /var/lib/afick/afick
# history : name with full path to history file
history := /var/lib/afick/history
# archive : name with full path to directory for archived results
archive := /var/lib/afick/archive
# report_url : where to send the result : stdout/stderr/null
report_url := stdout
# report_syslog : send output to syslog ?
report_syslog := yes
# verbose : (obsolete) boolean value
# use debug parameter below
verbose := no
# debug : set a level of debugging messages, from 0 (none) to 4 (full)
debug := 0
# warn_dead_symlinks : boolean : if set, warn about dead symlinks
warn_dead_symlinks := no
# follow_symlinks : boolean : if set, do checksum on target file (else on target file name)
follow_symlinks := no
# allow_overload : boolean : if set, allow to overload rules (the last rule wins), else put a warning
allow_overload := yes
# report_full_newdel : boolean : if set, report all changes, if not set, report only a summary on top directories
report_full_newdel := no
# warn_missing_file  : boolean : is set, warn about selected files (in this config), which do not exists
warn_missing_file := no
# running_files : boolean : if set, warn about files changed during a program run
running_files := yes
# timing : boolean : if set, print timing statistics about the job
timing := yes
# ignore_case : boolean : if set, ignore case on file name
ignore_case := no
# max_checksum_size : numeric : only compute checksum on first max_checksum_size bytes ( 0 means unlimited)
max_checksum_size := 10000000

# exclude_suffix : list of suffixes to ignore
# text files
exclude_suffix := log LOG html htm HTM txt TXT xml
# help files
exclude_suffix := hlp pod chm
# old files
exclude_suffix := tmp old bak
# fonts
exclude_suffix := fon ttf TTF
# images
exclude_suffix := bmp BMP jpg JPG gif png ico
# audio
exclude_suffix := wav WAV mp3 avi

# exclude_prefix : list of prefixes to ignore
#exclude_prefix :=

# exclude_re : list of patterns (regular expressions) to ignore (apply on full path)
#exclude_re :=

#################
# macros section
#################
# used by cron job (afick_cron)
# define the mail adress to send cron job result
@@define MAILTO root@localhost
# truncate the result sended by mail to the number of lines (avoid too long mails)
@@define LINES 1000
# REPORT = 1 to enable mail reports, =0 to disable report
@@define REPORT 1
# VERBOSE = 1 to have one mail by run, =0 to have a mail only if changes are detected
@@define VERBOSE 0
# define the nice value : from 0 to 19 (priority of the job)
@@define NICE 18
# = 1 to allow cron job, = 0 to suppress cron job
@@define BATCH 1

###############
# alias section
###############
# action : a list of item to check :
# md5 : md5 checksum
# sha1 : sha1 checksum
# d : device
# i : inode
# p : permissions
# n : number of links
# u : user
# g : group
# s : size
# b : number of blocks
# m : mtime
# c : ctime
# a : atime
# e: parsec mac
# t: parsec aud
# gost: gost

#all:    p+d+i+n+u+g+s+b+m+c+md5
#R:      p+d+i+n+u+g+s+m+c+md5
#L:      p+d+i+n+u+g
#P:      p+n+u+g+s+md5
#E:      ''

# action alias may be configured with
# your_alias = another_alias|item[+item][-item]
# all is a pre-defined alias for all items except "a"
DIR=p+i+n+u+g
ETC = p+d+i+u+g+s+md5
Logs = p+n+u+g
MyRule = p+d+i+n+u+g+s+b+md5+m
PARSEConly = e+t
PARSEC = p+d+i+n+u+g+s+b+md5+m+e+t
GOST = p+d+i+n+u+g+s+b+gost+m+e+t

##############
# file section
##############
# 3 syntaxe are available :
# file action
#     to scan a file/directory with "action" parameters
# ! file
#     to remove file from scan
# = directory action
#       to scan the directory but not sub-directories
# file with blank character have to be quoted

#=/  DIR

#/bin   MyRule

#/boot  MyRule
#!/boot/map
#!/boot/System.map

#/dev p+n
# to avoid problems with pending usb
# =/dev/scsi p+n

#/etc   ETC
#/etc/mtab ETC - i
#/etc/adjtime ETC - md5
# /etc/aliases.db ETC - md5
# /etc/mail/statistics ETC - md5
#/etc/motd ETC - i
# /etc/ntp/drift ETC - i - md5
# /etc/urpmi/urpmi.cfg Logs
# /etc/urpmi/proxy.cfg Logs
# !/etc/cups/certs/0
# !/etc/map
# !/etc/postfix/prng_exch
#!/etc/samba/secrets.tdb
# !/etc/webmin/sysstats/modules/

#/lib   MyRule
#/lib/modules MyRule -m
# /lib/dev-state MyRule -u

#/root MSEC
#!/root/.viminfo
#!/root/.bash_history
#!/root/.mc
# !/root/tmp

#/var/ftp MyRule
#/var/log Logs
# !  /var/log/ksymoops
# /var/www MyRule
# ! /var/www/html/snortsnarf
/boot GOST
/lib/modules/*-generic/initrd PARSEC
/lib/modules/*-generic/kernel PARSEC
/lib/modules/*-generic/misc PARSEC
/lib/modules/*-generic/vdso PARSEC
/lib/modules/*-hardened/initrd PARSEC
/lib/modules/*-hardened/kernel PARSEC
/lib/modules/*-hardened/misc PARSEC
/lib/modules/*-hardened/vdso PARSEC
/etc/security PARSEC
/etc/pam.d PARSEC
/lib/x86_64-linux-gnu/security PARSEC
/lib/security PARSEC
/sbin PARSEC
/etc/fstab PARSEC
/usr/sbin PARSEC

###########################################################
# to allow easier upgrade, my advice is too separate
# the default configuration file (above) from your
# local configuration (below).
# default configuration will be upgraded
# local configuration will be kept
########## put your local config below ####################
