{% if astra_at_local_repo_main_create == true %}
# Репозиторий основного диска
deb file:{{ astra_at_local_repo_dir }}/{{ astra_at_local_repo_dir_main }} {{ ansible_facts.lsb.codename }} main contrib non-free
{% else %}
deb cdrom:[OS Astra Linux {{ ansible_facts.lsb.release }} {{ ansible_facts.lsb.codename }} - amd64 DVD ]/ {{ ansible_facts.lsb.codename }} contrib main non-free
{% endif %}
{% if astra_at_local_repo_update_create == true %}
# Репозиторий диска с обновлениями
deb file:{{ astra_at_local_repo_dir }}/{{ astra_at_local_repo_dir_update }} {{ ansible_facts.lsb.codename }} main contrib non-free
{% else %}
{% endif %}
